%structureOfBoxes {
   display: flex;
   flex-direction: column;

   width: 40vw;
   margin: $main-value-space;
   padding: $main-value-space;

   background-color: $second-color;
   border-bottom: 3px solid $border-bottom;
   border-right: 3px solid $border-right;
   border-radius: 5px;

   transition: .1s;

   &:hover{
      background-color: $border-bottom;
   }

   @media(max-width: 600px) {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;

      font-size: 1.5rem;
   }

}

%structureOfCalc {
   display: flex;
   justify-content: center;
   margin: 30px 0;
}

%inputStyle {
   width: 40%;
   padding: $main-value-space/3 $main-value-space;

   border: none;
   border-bottom: 1px solid $text-second-color;
   border-radius: 2px;

   background: transparent;
   color: $text-main-color;
  
}