// MARGIN / PADDING PX
$main-value-space: 20px;

// Text colors
$text-main-color:rgb(255,255,255);
$text-second-color:rgb(33,150,243);

// Background colors
$second-color: rgba(240, 248, 255, 0.041);
$main-color: rgb(40,44,52);


// Border colors 
$border-bottom:rgba(104, 104, 104, 0.24);
$border-right: rgba(104, 104, 104, 0.089);